<ons-page>
    <ons-navigator swipeable id="Navigator_basket" page="Basket.html"></ons-navigator>
    <template id="Basket.html">
        <ons-page id="BasketPage">
            <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า ANIMARU
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="" src="assets/image/Dog.png" alt="Cute kitten"  width="150" height="130">
                      </div>
                      <div class="list-item__center">
                        <div class="delete-button">Delete</div>
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 100,000</div>
                        <div class="list-item__subtitle">
                            <button class="btn btn-primary btn-xs" id="to-order">ยืนยัน</button>
                            <button class="btn btn-primary btn-xs">หาบ้านให้</button>
                        </div>
                      </div>
                    </li>
                </ul>
            </ul>
            <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า OKOMOMI YAKI
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="" src="assets/image/Cat.png" alt="Cute kitten"  width="150" height="130">
                      </div>
                      <div class="list-item__center">
                        <div class="delete-button">Delete</div>
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 50,000</div>
                        <div class="list-item__subtitle">
                            <button class="btn btn-primary btn-xs" id="order">ยืนยัน</button>
                            <button class="btn btn-primary btn-xs">หาบ้านให้</button>
                        </div>
                      </div>
                    </li>
                </ul>
            </ul>
            <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า OKOMOMI YAKI
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="" src="assets/image/Cat.png" alt="Cute kitten"  width="150" height="130">
                      </div>
                      <div class="list-item__center">
                        <div class="delete-button">Delete</div>
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 50,000</div>
                        <div class="list-item__subtitle">
                            <button class="btn btn-primary btn-xs" id="order">ยืนยัน</button>
                            <button class="btn btn-primary btn-xs">หาบ้านให้</button>
                        </div>
                      </div>
                    </li>
                </ul>
            </ul> <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า OKOMOMI YAKI
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="" src="assets/image/Cat.png" alt="Cute kitten"  width="150" height="130">
                      </div>
                      <div class="list-item__center">
                        <div class="delete-button">Delete</div>
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 50,000</div>
                        <div class="list-item__subtitle">
                            <button class="btn btn-primary btn-xs" id="order">ยืนยัน</button>
                            <button class="btn btn-primary btn-xs">หาบ้านให้</button>
                        </div>
                      </div>
                    </li>
                </ul>
            </ul> <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า OKOMOMI YAKI
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="" src="assets/image/Cat.png" alt="Cute kitten"  width="150" height="130">
                      </div>
                      <div class="list-item__center">
                        <div class="delete-button">Delete</div>
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 50,000</div>
                        <div class="list-item__subtitle">
                            <button class="btn btn-primary btn-xs" id="order">ยืนยัน</button>
                            <button class="btn btn-primary btn-xs">หาบ้านให้</button>
                        </div>
                      </div>
                    </li>
                </ul>
            </ul> <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า OKOMOMI YAKI
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="" src="assets/image/Cat.png" alt="Cute kitten"  width="150" height="130">
                      </div>
                      <div class="list-item__center">
                        <div class="delete-button">Delete</div>
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 50,000</div>
                        <div class="list-item__subtitle">
                            <button class="btn btn-primary btn-xs" id="order">ยืนยัน</button>
                            <button class="btn btn-primary btn-xs">หาบ้านให้</button>
                        </div>
                      </div>
                    </li>
                </ul>
            </ul> <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า OKOMOMI YAKI
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="" src="assets/image/Cat.png" alt="Cute kitten"  width="150" height="130">
                      </div>
                      <div class="list-item__center">
                        <div class="delete-button">Delete</div>
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 50,000</div>
                        <div class="list-item__subtitle">
                            <button class="btn btn-primary btn-xs" id="order">ยืนยัน</button>
                            <button class="btn btn-primary btn-xs">หาบ้านให้</button>
                        </div>
                      </div>
                    </li>
                </ul>
            </ul> <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า OKOMOMI YAKI
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                      <div class="list-item__left">
                        <img class="" src="assets/image/Cat.png" alt="Cute kitten"  width="150" height="130">
                      </div>
                      <div class="list-item__center">
                        <div class="delete-button">Delete</div>
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 50,000</div>
                        <div class="list-item__subtitle">
                            <button class="btn btn-primary btn-xs" id="order">ยืนยัน</button>
                            <button class="btn btn-primary btn-xs">หาบ้านให้</button>
                        </div>
                      </div>
                    </li>
                </ul>
            </ul>
            
        </ons-page>
    </template>
</ons-page>