<ons-page>
    <ons-navigator swipeable id="Navigator_order" page="Order.html"></ons-navigator>
    <template id="Order.html">
        <ons-page id="OrderPage">
            <div class="titleBG">
                <div class="mystoreTitle">
                    ORDER
                </div>
            </div>
            <ons-fab position="top left" style="color: black; background-color: rgb(252, 186, 3);" id="BackBasket">
                <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
            </ons-fab>
            <div class="" id="showOrderPets">

            </div>
            <div class="m-4">
                <ons-row class="locationBox p-2">
                    <ons-col class="col-3 pr-0">
                        <img src="/assets/image/Location.png" width="55" alt="" srcset="">
                    </ons-col>
                    <ons-col class="col-9 pl-0" id="showLocation">
                        <div class="location">
                            32/11 หมู่ 1 ถ.วิชิตสงคราม ต.กะทู้ อ.กะทู้ จ.ภูเก็ต 83120
                        </div>
                    </ons-col>
                </ons-row>
            </div>
            <div class="ml-4 mr-4 mt-3">
                <button type="button" class="btn btn-primary btn-block btn-lg font-weight-bold"
                    style="background-color: #CE9A35;border-color: #CE9A35;">PAYMENT</button>
            </div>
        </ons-page>
    </template>
</ons-page>