<ons-page>
    <ons-navigator swipeable id="Navigator_order" page="Order.html"></ons-navigator>
    <template id="Order.html">
        <ons-page id="OrderPage">
            <p class="headderfont">PROFILE</p>
            <ons-fab position="top left" style="color: black; background-color: rgb(252, 186, 3);" id="Back"
                onclick="backtoBasketPage()">
                <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
            </ons-fab>
            <div class="progress-bar">
                <div class="progress-bar__primary" style="width: 80%"></div>
              </div>
        </ons-page>
    </template>
</ons-page>