<ons-page>
    <ons-navigator swipeable id="Navigator_order" page="Order.html"></ons-navigator>
    <template id="Order.html">
        <ons-page id="OrderPage">
            <ons-list-item>
                <div class="toolbar__center headderfont">ORDER</div>
            </ons-list-item>
            <ons-fab position="top left" style="color: black; background-color: rgb(252, 186, 3);" id="Back"
                onclick="backtoBasketPage()">
                <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
            </ons-fab>
            <ul class="list">
                <ons-list-item>
                    <div class="titlebar">ร้านค้า ANIMARU
                        <button class="btn btn-primary btn-xs">ดูหน้าร้าน</button>
                    </div>
                </ons-list-item>
                <ul class="list">
                    <li class="list-item">
                        <div class="list-item__left">
                            <img style="border:5px solid black;" src="assets/image/map.png" alt="Cute kitten"
                                width="180" height="130">
                        </div>
                            <div class="title-basket list-item__subtitle">
                                <p class="">PSU phuket
                                </p>
                                <p class="">ADDRESS
                                    <ons-icon size="20px" icon="md-edit"></ons-icon>
                                </p>
                                <p class="delivery-order">Delivery options
                                    <ons-icon size="20px" icon="md-edit"></ons-icon>
                                </p>
                            </div>
                    </li>
                </ul>
            </ul>
            <ul class="list">
                <li class="list-item">
                    <div class="list-item__left">
                        <img class="" src="assets/image/Dog.png" alt="Cute kitten" width="150" height="130">
                    </div>
                    <div class="list-item__center">
                        <div class="title-basket list-item__subtitle">Breed : Syberian Husky</div>
                        <div class="title-basket list-item__subtitle">Breeder : Freepik</div>
                        <div class="title-basket list-item__subtitle">Bark : Yes</div>
                        <div class="title-basket list-item__subtitle">ราคา : 100,000</div>
                    </div>
                </li>
            </ul>

        </ons-page>
    </template>
</ons-page>