<ons-page>
    <ons-navigator swipeable id="Navigator_Shop" page="Shop.html"></ons-navigator>
    <template id="Shop.html">
        <ons-page id="myShopPage">
            <div class="titleBG">
                <div class="mystoreTitle">
                    My Store
                </div>
            </div>
            <ons-fab position="top left" style="color: black; background-color: rgb(252, 186, 3);" id="backSetting">
                <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
            </ons-fab>
            <div class="Shopprofile" id="showMyShop">

            </div>
            <ons-row class="d-flex justify-content-around pl-1 pr-1 showMyShop">

            </ons-row>
        </ons-page>
    </template>
</ons-page>