<ons-page>
    <ons-navigator swipeable id="Navigator_myShop" page="myShop.html"></ons-navigator>
    <template id="myShop.html">
        <ons-page id="myShopPage">
            <ons-fab position="top left" style="color: black; background-color: rgb(252, 186, 3);" id="Back"
                onclick="backtoProfilePage()">
                <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
            </ons-fab>
            <ons-page>
                <ons-navigator swipeable id="Navigator_Shop" page="Shop.html"></ons-navigator>
                <template id="Shop.html">
                    <ons-page id="ShopPage">
                        <div class="titleBG">
                            <div class="mystoreTitle">
                                My Store
                            </div>
                        </div>
                        <ons-fab position="top left" style="color: black; background-color: rgb(252, 186, 3);"
                            onclick="goBackHome()">
                            <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
                        </ons-fab>
                        <div class="Shopprofile">
                            <ons-row class="d-flex justify-content-around pl-1 pr-1 textprofile">
                                <ons-col class="col-5 pixprofile">
                                    <img src="/assets/image/image 5.png" width="100%" style="border-radius: 100%;
                                    border: 5px solid white;">
                                </ons-col>
                                <ons-col class="col-7 text">
                                    <div>Store name: Animaru_welcome</div>
                                    <ons-row class="d-flex justify-content-around container1">
                                        <ons-col class="col-3 editH">
                                            หมา
                                        </ons-col>
                                        <ons-col class="col-3 editH">
                                            แมว
                                        </ons-col>
                                        <ons-col class="col-3 editH">
                                            หนู
                                        </ons-col>
                                    </ons-row>
                                    <div>คะแนนร้านค้า : 100</div>
                                </ons-col>
                            </ons-row>
                        </div>
                        <ons-row class="text-align-center ">
                                <img src="/assets/image/addItem.jpg" alt="" class="addAnimaru addAreaBorder" onclick="addAnimaruForm()">            
                        </ons-row>
                        <ons-row class="d-flex justify-content-around pl-1 pr-1">
                            <ons-col class="col-6 p-1" onclick="goSelectformShop()">
                                <div class="containerH">
                                    <img src="/assets/image/Dog.png" width="100%">
                                    <div>Breed : Syberian Husky</div>
                                    <div>Breeder : Freepik</div>
                                    <div>Bark : Yes</div>
                                </div>
                            </ons-col>
                            <ons-col class="col-6 p-1">
                                <div class="containerH">
                                    <img src="/assets/image/Cat.png" width="100%">
                                    <div>Breed : Syberian Husky</div>
                                    <div>Breeder : Freepik</div>
                                    <div>Bark : Yes</div>
                                </div>
                            </ons-col>
                            <ons-col class="col-6 p-1">
                                <div class="containerH">
                                    <img src="/assets/image/Rat.png" width="100%">
                                    <div>Breed : Syberian Husky</div>
                                    <div>Breeder : Freepik</div>
                                    <div>Bark : Yes</div>
                                </div>
                            </ons-col>
                            <ons-col class="col-6 p-1">
                                <div class="containerH">
                                    <img src="/assets/image/Fish.png" width="100%">
                                    <div>Breed : Syberian Husky</div>
                                    <div>Breeder : Freepik</div>
                                    <div>Bark : Yes</div>
                                </div>
                            </ons-col>

                        </ons-row>
                    </ons-page>
                </template>
            </ons-page>
        </ons-page>
    </template>
</ons-page>