<ons-page>
    <ons-navigator swipeable id="Navigator_Shop" page="Shop.html"></ons-navigator>
    <template id="Shop.html">
        <ons-page id="myShopPage">
            <div class="titleBG">
                <div class="mystoreTitle">
                    My Store
                </div>
            </div>
            <ons-fab position="top left" style="color: black; background-color: rgb(252, 186, 3);" id="backSetting">
                <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
            </ons-fab>
            <div class="Shopprofile" id="showMyShop">

            </div>
            <ons-row class="text-align-center ">
                <img src="/assets/image/addItem.jpg" alt="" class="addAnimaru addAreaBorder" onclick="addAnimaruForm()">
            </ons-row>
            <ons-row class="d-flex justify-content-around pl-1 pr-1">
                <ons-col class="col-6 p-1" onclick="goSelectformShop()">
                    <div class="containerH">
                        <img src="/assets/image/Dog.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder(M,F) : <div style="color: rgb(0, 0, 212);">GNP-M.Grand Champion</div>,
                            <div style="color: rgb(212, 0, 0);">GNP-F.Champion</div>
                        </div>
                        <div>Gender : Female</div>
                        <div>Age : 1 months old</div>
                        <div class="text-left" style="margin-right: 0.7rem;">
                            <button type="button" class="btn deleteBtn mb-2">Delete</button>
                        </div>
                        <div class="text-left" style="margin-right: 0.7rem;">
                            <button type="button" class="btn editBtn mb-2">แก้ไขข้อมูลสัตว์เลี้ยง</button>
                        </div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Cat.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                        <div class="text-right" style="margin-right: 0.7rem;">
                            <button type="button" class="btn deleteBtn mb-2">Delete</button>
                        </div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Rat.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                        <div class="text-right" style="margin-right: 0.7rem;">
                            <button type="button" class="btn deleteBtn mb-2">Delete</button>
                        </div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Fish.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                        <div class="text-right" style="margin-right: 0.7rem;">
                            <button type="button" class="btn deleteBtn mb-2">Delete</button>
                        </div>
                    </div>
                </ons-col>

            </ons-row>
        </ons-page>
    </template>
</ons-page>