<ons-page>
    <ons-navigator swipeable id="Navigator_openShop" page="OpenShop.html"></ons-navigator>
    <template id="OpenShop.html">
        <ons-page id="OpenShop">
            <ons-fab position="top left" style="color: black; background-color: rgb(252, 186, 3);" id="Back"
                onclick="backtoSetting()">
                <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
            </ons-fab>
            <div class="formTitle">Shop Detail</div>
            <ons-row class="row align-items-center addAnimalElement">
                <div class="formCenter">
                    <input type="text" placeholder="ชื่อร้าน/Shop name" class="form-control formSize">
                </div>
            </ons-row>
            <ons-row class="row align-items-center addAnimalElement">
                <div class="formCenter">
                    <input type="text" placeholder="ชื่อเจ้าของร้าน/Shop owner" class="form-control formSize">
                </div>
            </ons-row>
            <ons-row class="row align-items-center addAnimalElement">
                <div class="formCenter">
                    <input type="text" placeholder="ที่ตั้งร้าน/Shop location" class="form-control formSize">
                </div>
            </ons-row>
            <ons-row class="row d-flex align-items-center">
                <div class="myShopTitle">
                   ประเภทสัตว์ที่จำหน่าย/Shop animal type
                </div>
                <div class="collectAnimaltype">
                    <ul class="list">
                        <li class="list-item list-item--tappable">
                          <div class="list-item__left">
                            <label class="checkbox">
                              <input type="checkbox" id="Dogo" class="checkbox__input">
                              <div class="checkbox__checkmark"></div>
                            </label>
                          </div>
                          <label for="checkbox1" class="list-item__center">
                            Dog
                          </label>
                        </li>
                        <li class="list-item list-item--tappable">
                            <div class="list-item__left">
                              <label class="checkbox">
                                <input type="checkbox" id="Cato" class="checkbox__input">
                                <div class="checkbox__checkmark"></div>
                              </label>
                            </div>
                            <label for="checkbox1" class="list-item__center">
                              Cat
                            </label>
                          </li>
                          <li class="list-item list-item--tappable">
                            <div class="list-item__left">
                              <label class="checkbox">
                                <input type="checkbox" id="Small_animal" class="checkbox__input">
                                <div class="checkbox__checkmark"></div>
                              </label>
                            </div>
                            <label for="checkbox1" class="list-item__center">
                              Small animal
                            </label>
                          </li><li class="list-item list-item--tappable">
                            <div class="list-item__left">
                              <label class="checkbox">
                                <input type="checkbox" id="Water_animal" class="checkbox__input">
                                <div class="checkbox__checkmark"></div>
                              </label>
                            </div>
                            <label for="checkbox1" class="list-item__center">
                              Water animal
                            </label>
                          </li>
                    </ul>

            </ons-row>
            <ons-row class="row addAnimalElement" style="margin-bottom: 1rem;">
                <div class="myShopTitle3">
                    ใบอณุญาต/license
                </div>
                <div class="segment" style="width:200px; margin-top: 8px;margin-left: 5rem;">
                    <div class="segment__item">
                        <input type="radio" class="segment__input" name="navi-segment-a" checked>
                        <div class="segment__button">Yes</div>
                    </div>
                    <div class="segment__item">
                        <input type="radio" class="segment__input" name="navi-segment-a">
                        <div class="segment__button">No</div>
                    </div>
                </div>
            </ons-row>
            <ons-row class="row align-items-center addAnimalElement">
                    <input type="text" placeholder="Description/คำอธิบาย" class="form-control formSize"
                        style="height: 100px;" required>
            </ons-row>
            <ons-row class="row addAnimalElement2" style="margin-left: 1.5rem;">
                <label class="checkbox checkbox--material">
                    <input type="checkbox" class="checkbox__input checkbox--material__input">
                    <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                    ยอมรับข้อตกลงทุกประการไร้เงื่อนไข
                </label>
            </ons-row>

            <div class="confirmedBtn">
                <button type="submit" class="confirmEditBtn" onclick="backtoMyStore()">Confirm</button>
            </div>

        </ons-page>
    </template>
</ons-page>