<ons-page>
    <ons-navigator swipeable id="Navigator_profile" page="profile.html"></ons-navigator>
    <template id="profile.html">
        <ons-page id="profilePage">
            <ons-fab position="top left" onclick="backfromProfile()" style="color: black; background-color: rgb(252, 186, 3);">
                <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
            </ons-fab>
            <div id="showProfileEdit">
                
            </div>
        </ons-page>
    </template>
</ons-page>