<ons-page>
    <ons-navigator swipeable id="Navigator_search" page="Search.html"></ons-navigator>
    <template id="Search.html">
        <ons-page id="SearchPage">

            <ons-row class="backgroudSearchbutton"> <button type="button" class="col-6 p-1  btn btnh">สัตว์</button>

                <button type="button" class="col-6 p-1 btn btnh">ร้านค้า</button>
            </ons-row>

            <ons-row class="d-flex justify-content-around pl-1 pr-1">
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Dog.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Cat.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Rat.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Fish.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Fish.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Fish.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                        <div>Bark : Yes</div>
                    </div>
                </ons-col>
            </ons-row>

        </ons-page>
    </template>
</ons-page>