<ons-page>
    <ons-navigator swipeable id="Navigator_search" page="Search.html"></ons-navigator>
    <template id="Search.html">
        <ons-page id="SearchPage">
            <ons-row class="backgroudSearchbutton pb-1">
                <div class="col-6 p-0 text-center">
                    <button type="button" class="btn btnh" id="clickSearchPets">สัตว์</button>
                </div>
                <div class="col-6 p-0 text-center">
                    <button type="button" class="btn btnh" id="clickSearchshop">ร้านค้า</button>
                </div>
            </ons-row>
            <div class="" id="categoryButton"></div>
            <ons-row class="d-flex justify-content-around pl-1 pr-1 mt-2" id="showSearchPets">

            </ons-row>
        </ons-page>
    </template>
</ons-page>