<ons-page>
    <ons-navigator swipeable id="Navigator_home" page="home.html"></ons-navigator>
    <template id="home.html">
        <ons-page id="HomePage">
            <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
                <ons-carousel-item>
                    <img src="/assets/image/Carousel1.jpg" width="100%">
                </ons-carousel-item>
                <ons-carousel-item>
                    <img src="/assets/image/Dog.png" width="100%">
                </ons-carousel-item>
                <ons-carousel-item>
                    <img src="/assets/image/Rat.png" width="100%">
                </ons-carousel-item>
            </ons-carousel>
            <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel" item-width="80px" style="height: 8%">
                <ons-carousel-item>
                    <button type="button" class="btn btnh">แนะนำ</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btnh">หมา</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btnh">แมว</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btnh">สัตว์เล็ก</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btnh">สัตว์น้ำ</button>
                </ons-carousel-item>
            </ons-carousel>
            <ons-row class="d-flex justify-content-around pl-1 pr-1">
                <ons-col class="col-6 p-1" onclick="goShop()">
                    <div class="containerH">
                        <img src="/assets/image/Dog.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                            <div>Bark : Yes</div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Cat.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                            <div>Bark : Yes</div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Rat.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                            <div>Bark : Yes</div>
                    </div>
                </ons-col>
                <ons-col class="col-6 p-1">
                    <div class="containerH">
                        <img src="/assets/image/Fish.png" width="100%">
                        <div>Breed : Syberian Husky</div>
                        <div>Breeder : Freepik</div>
                            <div>Bark : Yes</div>
                    </div>
                </ons-col>
        
            </ons-row>
        </ons-page>
    </template>
</ons-page>