<ons-page>
    <ons-navigator swipeable id="Navigator_home" page="home.html"></ons-navigator>
    <template id="home.html">
        <ons-page id="HomePage">
            <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
                <ons-carousel-item>
                    <img src="/assets/image/Carousel1.jpg" width="100%">
                </ons-carousel-item>
                <ons-carousel-item>
                    <img src="/assets/image/Dog.png" width="100%">
                </ons-carousel-item>
                <ons-carousel-item>
                    <img src="/assets/image/Rat.png" width="100%">
                </ons-carousel-item>
            </ons-carousel>
            <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel" item-width="80px"
                style="height: 8%">
                <ons-carousel-item>
                    <button type="button" class="btn btnh" id="แนะนำ">แนะนำ</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btnh" id="Dog">หมา</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btnh" id="Cat">แมว</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btnh" id="Small">สัตว์เล็ก</button>
                </ons-carousel-item>
                <ons-carousel-item>
                    <button type="button" class="btn btnh" id="Water">สัตว์น้ำ</button>
                </ons-carousel-item>
            </ons-carousel>
            <ons-row class="d-flex justify-content-around pl-1 pr-1" id="showItemRecomended">
             
            </ons-row>
            <div id="showShopProfile">
                
            </div>
        </ons-page>
    </template>
</ons-page>