.Kanit{
    font-family: 'Kanit', sans-serif
}

.tabbar__button{
    background-color: #FFC149;
    color: white;
    font-weight: bold;
}

:checked+.tabbar__button{
    color: black;
    background-color: #FFC149;
    box-shadow: none;
}

ons-toolbar .center{
    font-weight: bold;
    font-size: 28px;
    color: white;
    background-color: #FFC149;
}