.titlebar{
    font-weight: bold;
    font-size: 18px;
    margin-left: 1rem;
}
.button-outline{
    background-color:transparent;
    border:1px solid #030303;
    color:#000000;
    padding: 8px;
    font-size: 14px;
    display: inline-block;
}
.delete-button{
    padding-left: 9rem;
    /* padding-top: 0.275rem;
    padding-bottom: 0.275rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem; 
    margin-right: 0.5rem; */
    color: rgb(253, 5, 5);
    font-size: 12px;
}
.title-basket{
    color: rgb(8, 8, 8);
    font-size: 12px;
}
.basket-price{
    color: rgb(8, 8, 8);
    font-size: 14px;
}
.delete-button{
    
}